

@import "tailwindcss";

/* Define the TV scaling logic without touching tailwind.config.js */
:root {
  --Dash-scale: 0.6; /* Default for Desktop */
  --Dash-width: 166.6%;
}

@media (min-width: 1200px) {
  :root {
    /* For 32" TV: We scale UP so it's readable from a distance */
    --Dash-scale: 1.0; 
    --Dash-width: 100%;
  }
}


.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-layer:focus,
.recharts-cartesian-grid:focus,
.recharts-tooltip-wrapper:focus {
    outline: none !important;
    border: none !important;
}
